.alert {
  --alert-background-color: var(--container-secondary);
  --alert-border-color: var(--container-03);
  --alert-text-color: var(--text-primary);

  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: var(--alert-background-color);
  border: 1px solid var(--alert-border-color);
  color: var(--alert-text-color);

  &__title {
    font-size: 16px;
    margin: {
      top: 0;
      bottom: 8px;
    }
  }
  &__description {
    >*:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }

  &--danger {
    --alert-background-color: var(--container-danger-background-color);
    --alert-border-color: var(--container-danger-border-color);
    --alert-text-color: var(--container-danger-text-color);
  }
}
