// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base-size);
  line-height: var(--line-height);

  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

body {
  margin: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: var(--container-secondary);
  color: var(--text-primary);
}

// inline content

:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--focus-ring-color);
}

::selection,
mark {
  background-color: var(--text-highlight-color);
}

a {
  color: var(--text-link-color);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// block content

h1 {
  font-size: var(--size5);
  margin-top: 0;
  margin-bottom: var(--size2);
}
h2 {
  font-size: var(--size4);
  margin: {
    top: var(--size2);
    bottom: var(--size2);
  }
}
h3 {
  font-size: var(--size3);
  margin: {
    top: var(--size2);
    bottom: var(--size2);
  }
}
h4 {
  font-size: var(--size2);
  margin: {
    top: var(--size1);
    bottom: var(--size1);
  }
}
h5 {
  font-size: var(--size1);
  margin: {
    top: var(--size0);
    bottom: var(--size0);
  }
}
h6 {
  font-size: var(--size0);
  margin: {
    top: var(--size0);
    bottom: var(--size0);
  }
}

// forms


// interactive

details {
  display: block;
}

summary {
  display: list-item;
}

// code like things

pre {
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 1em;
}

code,
kbd,
samp {
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 1em;
}

// tables

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

thead {
  th, td {
    color: var(--text-secondary);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--container-secondary);
  }
}
