.group {
  margin-bottom: 32px;

  h2 {
    font-size: var(--size3);
  }
  h3 {
    font-size: var(--size2);
  }
  h4 {
    font-size: var(--size1);
  }

  // TODO: figure out distinction in h5 & h6 here
  h5, h6 {
    font-size: var(--size0);
  }
}
