.page {
  max-width: 1440px;
  min-height: 100vh;

  padding: {
    left: 8px;
    right: 8px;
  }
  margin: {
    left: auto;
    right: auto;
  }

  display: flex;
  flex-direction: column;

  &__header {
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__site {
    flex-shrink: 0;
    font-size: 24px;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  &__version {
    font-size: 16px;
    color: var(--text-secondary);
  }

  &__search {
    flex: 1;
    max-width: 300px;
  }

  &__container {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    // gap: 16px;
  }

  &__sidebar {
    flex: none;
    // display: flex;
    // flex-direction: column;
    width: 320px;
    transition: margin-left ease 250ms;
  }

  &__menu {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    padding-right: 8px;
  }

  &__canvas {
    background-color: var(--container-primary);
    box-shadow: rgb(0 0 0 / 0.1) 0 1px 5px 0;

    flex: 1 1 auto;
    overflow: auto;
    border-radius: 4px;
    // scroll-behavior: smooth;
  }

  &__main {
    margin: 16px 16px 32px;
  }

  &__footer {
    margin-top: auto;
    padding: 16px 0;
    font-size: 12px;
  }
}
